body {
  padding-bottom: 50px;
}

.header {
  background-color: #262626;
  line-height: 30px;
  color: #fff;
  padding-top: 10px;
  a {
    color: #fff !important;
  }
}

.sidebar {
  margin-top: 20px;
}

.contaner {

}

.page-header {
  span {
    font-size: 16px;
    font-style: italic;
    color: #888;
  }
}

.form-search {
  margin-bottom: 20px;
  label {
    span {
      font-size: 12px;
      font-style: italic;
      color: #888;
    }
  }
  input[type="text"] {
    width: 500px;
  }
}

.wbSearch {
  margin-bottom: 20px;
  input[type="text"] {
    width: 500px;
  }
}