body {
  //background-color: #4C4E51;
}

.header {
  background-color: #262626;
  line-height: 30px;
  color: #fff;
  padding-top:10px;
  a{
    color: #fff !important;
  }
}

.sidebar {
  margin-top: 20px;
}

.contaner {
}

.form-search {
  margin-bottom: 20px;
  input[type="text"] {
    width: 500px;
  }
}

.wbSearch {
  margin-bottom: 20px;
  input[type="text"] {
    width: 500px;
  }
}