body {
  //background-color: #4C4E51;
}

.header {
  background-color: #262626;
  color: #fff;
}

.sidebar {
  margin-top: 20px;
}

.contaner {
  margin-top: 20px;
  .form-search {
    input[type="text"] {
      width: 500px;
    }
  }
}

.form-search {
  margin-bottom: 20px;
}

.wbLogin {
  background-color: #fff;
  color: #000;
  width: 500px;
  padding: 0 1em 1em;
  margin: 100px auto 0;
}
