doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title bud
        link(href='css/bootstrap.min.css', rel='stylesheet')
    body
        .container-fluid
            .row
                .col-lg-3
                    h1 Public
                    .list-group
                        a.list-group-item.active(href="javascript:;") 入口
                        a.list-group-item(href="login.html") 登录
                        a.list-group-item(href="integralInfo.html") 积分记录查询
                        a.list-group-item(href="openidInfo.html") OpenId详情查询
                        a.list-group-item(href="sprEdit.html") SPR修改
                .col-lg-3
                    h1 PTL
                    include include/ptl-sidebar.jade
                .col-lg-3
                    h1 MKT
                    include include/mkt-sidebar.jade
                .col-lg-3
                    h1 Courier
                    include include/courier-sidebar.jade
        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')