doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-lg-12
                    include include/header.jade
        .container-fluid
            .row
                .col-lg-2.sidebar
                    include include/courier-sidebar.jade
                .col-lg-10.contaner
                    h3 添加快递
                    form(role="form")
                        .form-group
                            label(for="") 产品名称
                            input.form-control(type="text",placeholder="产品名称")
                        .form-group
                            label(for="") 快递单号
                            input.form-control(type="text",placeholder="快递单号")
                        .form-group
                            label(for="") 姓名
                            input.form-control(type="text",placeholder="姓名")
                        .form-group
                            label(for="") 电话
                            input.form-control(type="text",placeholder="电话")
                        .form-group
                            label(for="") 地址
                            input.form-control(type="text",placeholder="地址")
                        .button.btn.btn-default(type="submit") 提交
        script(src='js/jquery.min.js')
        script(src='js/angular.min-1.5.10.js')
        script(src='js/bootstrap.min.js')
        script(src='js/courier_gift_records.js')