include include/mixin.jade
doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 库存情况
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-sm-12
                    include include/header.jade
        .container-fluid
            .row
                .col-sm-2.sidebar(ng-controller="ctrlSidebar")
                    include include/sidebar.jade
                .col-sm-10.contaner
                    h3.page-header 库存情况
                    .wbTable(ng-controller="customersCtrl")
                        table.table.table-bordered
                            thead
                                tr
                                    th(ng-repeat="item in ths") {{item}}
                            tbody
                                tr(ng-repeat="item in tds")
                                    td {{item.type}}
                                    td {{item.name}}
                                    td {{item.jifen}}
                                    td {{item.total}}
                                    td {{item.total-item.number}}
                                    td {{item.number}}
                                    td {{Math.round((item.total-item.number)/item.total*100) + '%'}}
        +includeScriptFiles("js/gift-inventory.js")