include include/mixin.jade
doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 兑奖记录
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
        link(href="css/gift-records.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-sm-12
                    include include/header.jade
        .container-fluid
            .row
                .col-sm-2.sidebar(ng-controller="ctrlSidebar")
                    include include/sidebar.jade
                .col-sm-10.contaner
                    .row
                        .col-sm-12(ng-controller="customersCtrl2")
                            h3.page-header 兑奖信息查询
                            .wbSearch.form-inline
                                .input-group
                                    span.input-group-addon OpenId
                                    input.form-control(type="text",placeholder="请输入",ng-model="txtOpenid")
                                    span.input-group-btn
                                        button.btn.btn-default.btn-search(ng-click="pagination.getPage()") 搜索
                            .wbTable
                                table.table.table-bordered
                                    thead
                                        tr
                                            th 记录id
                                            th openid
                                            th 产品名称
                                            th 兑奖时间
                                            th 快递单号
                                            th 操作
                                    tbody
                                        tr(ng-repeat="item in tds")
                                            td {{item.id}}
                                            td {{item.openid}}
                                            td {{item.obj}}
                                            td {{item.act_time}}
                                            td.tdPackage {{item.package}}
                                            td
                                                a.btn.btn-info.btn-sm(target="_blank",href="openid-info.html?openid={{item.openid}}") 查看
                                                button.btn.btn-success.btn-sm(ng-if="user.type==userType.courier",ng-click="inputPak($event,item.id)") 录入单号
                                include include/paginationer.jade
                        .col-sm-12(ng-controller="customersCtrl")
                            h3.page-header 兑奖记录
                            .wbFilter.form-inline
                                .form-group
                                    label.control-label 快递单号：
                                    label.radio-inline
                                        input(type='radio',name='pkg',ng-model="filter.pkg",ng-value="2")
                                        | 全部
                                    label.radio-inline
                                        input(type='radio',name='pkg',ng-model="filter.pkg",ng-value="1")
                                        | 已填单号
                                    label.radio-inline
                                        input(type='radio',name='pkg',ng-model="filter.pkg",ng-value="0")
                                        | 未填单号
                                button.btn.btn-sm.btn-success(ng-click="pagination.getPage()") 确定
                            .wbTable
                                table.table.table-bordered
                                    thead
                                        tr
                                            th 记录id
                                            th openid
                                            th 产品名称
                                            th 兑奖时间
                                            th 快递单号
                                            th 操作
                                    tbody
                                        tr(ng-repeat="item in tds")
                                            td {{item.id}}
                                            td {{item.openid}}
                                            td {{item.obj}}
                                            td {{item.act_time}}
                                            td.tdPackage {{item.package}}
                                            td
                                                a.btn.btn-info.btn-sm(target="_blank",href="openid-info.html?openid={{item.openid}}") 查看
                                                button.btn.btn-success.btn-sm(ng-if="user.type==userType.courier",ng-click="inputPak($event,item.id)") 录入单号
                                include include/paginationer.jade
        +includeScriptFiles("js/gift-records.js")