include include/mixin.jade
doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 累计可疑OpenId
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-sm-12
                    include include/header.jade
        .container-fluid
            .row
                .col-sm-2.sidebar(ng-controller="ctrlSidebar")
                    include include/sidebar.jade
                .col-sm-10.contaner(ng-controller="customersCtrl")
                    h3.page-header
                        | 累计可疑OpenId
                        span (一天内出现3次积分，被认为有1天可疑，累计出现3天3次积分的openid需要进行稽查)
                    .form-horizontal.form-search
                        .form-group
                            label.col-sm-1.control-label
                                | 可疑天数
                                span (当前标准为3天以上)
                            .col-sm-10
                                select.form-control(ng-model="filter.day",ng-options="x for x in [3,4,5,6] track by x")
                            .col-sm-1
                                button.btn.btn-default(ng-click="pagination.getPage()") 搜索
                    .wbTable
                        table.table.table-bordered
                            thead
                                tr
                                    th 核查状态
                                    th openid
                                    th 促销员
                                    th 异常天数
                                    th 处理
                            tbody
                                tr(ng-repeat="item in tds",ng-init="setColor($index,item.ischecked)")
                                    td
                                        select(ng-init="select=tag[item.ischecked]",ng-model="select",ng-options="x for x in ['未稽查','稽查中','积分有效','已取消积分'] track by x",ng-change="setTag($index,item.openid,select)")
                                    td {{item.openid}}
                                    td {{item.lastspr}}
                                    td {{item.score_times}}
                                    td
                                        a.btn.btn-info.btn-sm(target="_blank",href="integral-info.html?openid={{item.openid}}") 查看
                        include include/paginationer.jade
        +includeScriptFiles("js/illicit-list.js")