<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>累计可疑OpenId</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-sm-12">
          <p>你好，<a id="userName" href="all.html"></a><a class="pull-right" href="javascript:angular.element(document.body).scope().$root.loginOut();">退出</a></p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar" ng-controller="ctrlSidebar">
          <div class="section" ng-if="user.type==userType.mkt">
            <div class="list-group"><a class="list-group-item active" href="javascript:;">可疑稽查</a><a class="list-group-item" href="illicit-list.html">累计可疑OpenId</a><a class="list-group-item" href="illicit-handle.html">已取消积分OpenId</a></div>
            <div class="list-group"><a class="list-group-item active" href="javascript:;">SPR管理</a><a class="list-group-item" href="spr-handle.html">SPR状态查询</a></div>
            <div class="list-group"><a class="list-group-item active" href="javascript:;">礼物管理</a><a class="list-group-item" href="gift-records.html">兑奖记录</a><a class="list-group-item" href="gift-inventory.html">库存情况</a></div>
          </div>
          <div class="section" ng-if="user.type==userType.courier">
            <div class="list-group"><a class="list-group-item active" href="javascript:;">礼物管理</a><a class="list-group-item" href="gift-records.html">兑奖记录</a><a class="list-group-item" href="gift-inventory.html">库存情况</a></div>
          </div>
          <div class="section" ng-if="user.type==userType.ptl">
            <div class="list-group"><a class="list-group-item active" href="javascript:;">可疑稽查</a><a class="list-group-item" href="illicit-list.html">累计可疑OpenId</a><a class="list-group-item" href="illicit-handle.html">已取消积分OpenId</a></div>
            <div class="list-group"><a class="list-group-item active" href="javascript:;">SPR管理</a><a class="list-group-item" href="spr-handle.html">SPR状态查询</a></div>
          </div>
        </div>
        <div class="col-sm-10 contaner" ng-controller="customersCtrl">
          <h3 class="page-header">累计可疑OpenId<span>(一天内出现3次积分，被认为有1天可疑，累计出现3天3次积分的openid需要进行稽查)</span></h3>
          <div class="form-horizontal form-search">
            <div class="form-group">
              <label class="col-sm-1 control-label">可疑天数<span>(当前标准为3天以上)</span></label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="filter.day" ng-options="x for x in [3,4,5,6] track by x"></select>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-default" ng-click="pagination.getPage()">搜索</button>
              </div>
            </div>
          </div>
          <div class="wbTable">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>核查状态</th>
                  <th>openid</th>
                  <th>促销员</th>
                  <th>异常天数</th>
                  <th>处理</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in tds" ng-init="setColor($index,item.ischecked)">
                  <td>
                    <select ng-init="select=tag[item.ischecked]" ng-model="select" ng-options="x for x in ['未稽查','稽查中','积分有效','已取消积分'] track by x" ng-change="setTag($index,item.openid,select)"></select>
                  </td>
                  <td>{{item.openid}}</td>
                  <td>{{item.lastspr}}</td>
                  <td>{{item.score_times}}</td>
                  <td><a class="btn btn-info btn-sm" target="_blank" href="integral-info.html?openid={{item.openid}}">查看</a>
                    <button class="btn btn-danger btn-sm {{(item.ptl_warn=='1'||item.main_warn=='1')?'disabled':''}}" ng-click="setIllicit($event,item.openid,$index)">{{select=='已取消积分'?select:'取消积分'}}</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginationer">
              <label class="pull-left"><b class="lab-index">{{pagination.page}}</b>/<b class="lab-total">{{pagination.total}}</b></label>
              <div class="pull-right">
                <div class="form-inline">
                  <div class="input-group">
                    <button class="btn btn-default btn-prev" ng-click="pagination.getPrevPage()">上一页</button>
                  </div>
                  <div class="input-group">
                    <button class="btn btn-default btn-next" ng-click="pagination.getNextPage()">下一页</button>
                  </div>
                  <div class="input-group"><span class="input-group-addon">页码</span>
                    <input class="form-control" type="text" placeholder="请输入" ng-model="pagination.jumpPage"><span class="input-group-btn">
                      <button class="btn btn-default btn-jump" ng-click="pagination.getPage(pagination.jumpPage)">跳转</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/illicit-list.js"></script>
  </body>
</html>