include include/mixin.jade
doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 积分记录查询
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
        link(href="css/integral-info.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-sm-12
                    include include/header.jade
        .container-fluid
            .row
                .col-sm-12.contaner(ng-controller="customersCtrl")
                    h3.page-header 积分记录查询
                    .form-inline.form-search
                        .input-group
                            .input-group-btn
                                select.form-control(ng-model="selFormSearch",ng-options="x.text for x in FSKeys track by x.value")
                            input.form-control(type="text",placeholder="请输入",ng-model="txtText")
                            span.input-group-btn
                                button.btn.btn-default(ng-click="pagination.getPage()") 搜索
                    .wbTable
                        table.table.table-bordered
                            thead
                                tr
                                    th openid
                                    th 购买产品
                                    th 促销员id
                                    th 积分时间
                                    th 店铺分类
                                    th 大区
                                    th 城市
                                    th 促销员
                            tbody
                                tr(ng-repeat="item in tds")
                                    td {{item.openid}}
                                    td {{products[item.obj]}}
                                    td {{item.vendor}}
                                    td(style="background-color:{{setDateColor(item.act_time)}}") {{item.act_time}}
                                    td {{item.sprtype}}
                                    td {{item.sprregion}}
                                    td {{item.sprcity}}
                                    td {{item.sprname}}
                        include include/paginationer.jade
        +includeScriptFiles("js/integral-info.js")
