<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>积分记录查询</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/integral-info.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-sm-12">
          <p>你好，<a id="userName" href="all.html"></a><a class="pull-right" href="javascript:common.loginOut();">退出</a></p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 contaner" ng-controller="customersCtrl">
          <h3 class="page-header">积分记录查询</h3>
          <div class="form-inline form-search">
            <div class="input-group">
              <div class="input-group-btn">
                <select class="form-control" ng-model="selFormSearch" ng-options="x.text for x in FSKeys track by x.value"></select>
              </div>
              <input class="form-control" type="text" placeholder="请输入" ng-model="txtText"><span class="input-group-btn">
                <button class="btn btn-default" ng-click="pagination.getPage()">搜索</button></span>
            </div>
          </div>
          <div class="wbTable">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>openid</th>
                  <th>购买产品</th>
                  <th>促销员id</th>
                  <th>积分时间</th>
                  <th>店铺分类</th>
                  <th>大区</th>
                  <th>城市</th>
                  <th>促销员</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in tds">
                  <td>{{item.openid}}</td>
                  <td>{{products[item.obj]}}</td>
                  <td>{{item.vendor}}</td>
                  <td style="background-color:{{setDateColor(item.act_time)}}">{{item.act_time}}</td>
                  <td>{{item.sprtype}}</td>
                  <td>{{item.sprregion}}</td>
                  <td>{{item.sprcity}}</td>
                  <td>{{item.sprname}}</td>
                </tr>
              </tbody>
            </table>
            <div class="paginationer">
              <label class="pull-left"><b class="lab-index">{{pagination.page}}</b>/<b class="lab-total">{{pagination.total}}</b></label>
              <div class="pull-right">
                <div class="form-inline">
                  <div class="input-group">
                    <button class="btn btn-default btn-prev" ng-click="pagination.getPrevPage()">上一页</button>
                  </div>
                  <div class="input-group">
                    <button class="btn btn-default btn-next" ng-click="pagination.getNextPage()">下一页</button>
                  </div>
                  <div class="input-group"><span class="input-group-addon">页码</span>
                    <input class="form-control" type="text" placeholder="请输入" ng-model="pagination.jumpPage"><span class="input-group-btn">
                      <button class="btn btn-default btn-jump" ng-click="pagination.getPage(pagination.jumpPage)">跳转</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/integral-info.js"></script>
  </body>
</html>