include include/mixin.jade
doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 积分记录查询
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-sm-12
                    include include/header.jade
        .container-fluid
            .row
                .col-sm-12.contaner
                    h3.page-header 积分记录查询
                    form.form-inline.form-search(role="form")
                        .input-group
                            .input-group-btn
                                select.form-control
                                    option(value="spr") SPR验证码
                                    option(value="openid") OpenId
                            input.form-control(type="text",placeholder="请输入",value="862094")
                            span.input-group-btn
                                button.btn.btn-default(type="button") 搜索
                    .wbTable(ng-controller="customersCtrl")
                        table.table.table-bordered
                            thead
                                tr
                                    th(ng-repeat="item in ths") {{item}}
                            tbody
                                tr(ng-repeat="item in tds")
                                    td {{item.openid}}
                                    td {{item.obj}}
                                    td {{item.id}}
                                    td {{item.act_time}}
                                    td {{item.sprtype}}
                                    td {{item.sprregion}}
                                    td {{item.sprcity}}
                                    td {{item.sprname}}
                        include include/pagination.jade
        +includeScriptFiles("js/integralInfo.js")
