//此页面为公共页面
doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container
            .wbLogin
                .row
                    .col-lg-12
                        h1.page-header 登录
                form
                    .row
                        .col-lg-12
                            label(for="user") 账号
                            input.form-control#user(type="text",placeholder="账号")
                    br
                    .row
                        .col-lg-12
                            label(for="pass") 密码
                            input.form-control#pass(type="password",placeholder="密码")
                    br
                    .row
                        .col-lg-4
                            input.btn.btn-info(type="submit",value="登录")
        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')