<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>积分记录查询</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-lg-12">
          <h1><a href="all.html">user name</a></h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 sidebar">
          <div class="list-group"><a class="list-group-item active" href="javascript:;">首页</a><a class="list-group-item" href="mkt_index.html">积分记录查询</a></div>
          <div class="list-group"><a class="list-group-item active" href="javascript:;">可疑稽查</a><a class="list-group-item" href="mkt_illicit_1.html">累计可疑OpenId</a><a class="list-group-item" href="mkt_illicit_2.html">待处理可疑OpenId</a></div>
          <div class="list-group"><a class="list-group-item active" href="javascript:;">SPR管理</a><a class="list-group-item" href="mkt_spr_1.html">SPR状态查询</a><a class="list-group-item" href="mkt_spr_edit.html">SPR修改</a></div>
          <div class="list-group"><a class="list-group-item active" href="javascript:;">礼物管理</a><a class="list-group-item" href="mkt_gift_records.html">兑奖记录</a><a class="list-group-item" href="mkt_gift_inventory.html">库存情况</a></div>
        </div>
        <div class="col-lg-10 contaner">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header">积分记录查询</h3>
              <form class="form-inline form-search" role="form">
                <div class="input-group">
                  <div class="input-group-btn">
                    <select class="form-control">
                      <option value="spr">SPR验证码</option>
                      <option value="openid">OpenId</option>
                    </select>
                  </div>
                  <input class="form-control" type="text" placeholder="请输入" value="862094"><span class="input-group-btn">
                    <button class="btn btn-default" type="button">搜索</button></span>
                </div>
              </form>
              <div class="wbTable" ng-controller="customersCtrl">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th ng-repeat="item in ths">{{item}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in tds">
                      <td>{{item.openid}}</td>
                      <td>{{item.obj}}</td>
                      <td>{{item.id}}</td>
                      <td>{{item.act_time}}</td>
                      <td>{{item.sprtype}}</td>
                      <td>{{item.sprregion}}</td>
                      <td>{{item.sprcity}}</td>
                      <td>{{item.sprname}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="paginationer">
                  <label class="pull-left"><b class="lab-index">1</b>/<b class="lab-total">1</b></label>
                  <div class="pull-right">
                    <button class="btn btn-default btn-prev">上一页</button>
                    <button class="btn btn-default btn-next">下一页</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min-1.5.10.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/ptl_index.js"></script>
  </body>
</html>