doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-lg-12
                    include include/header.jade
        .container-fluid
            .row
                .col-lg-2.sidebar
                    include include/mkt-sidebar.jade
                .col-lg-10.contaner
                    .row
                        .col-lg-12
                            h3.page-header 7天内可疑OpenId
                            form.form-horizontal.form-search(role="form")
                                .form-group
                                    label.col-sm-1.control-label 可疑天数
                                    .col-sm-10
                                        select.form-control
                                            - for(var i=0;i<6;i++)
                                                option #{i + 1}
                                    .col-sm-1
                                        button.btn.btn-default 搜索
                            .wbTable(ng-controller="customersCtrl")
                                table.table.table-bordered
                                    thead
                                        tr
                                            th(ng-repeat="item in ths") {{item}}
                                    tbody
                                        tr(ng-repeat="item in tds")
                                            td {{item.openid}}
                                            td
                                                button.btn.btn-default(type="button") 列入可疑
                                button.btn.btn-default.btn-prev(type="button") 上一页
                                button.btn.btn-default.btn-next(type="button") 下一页
        script(src='js/jquery.min.js')
        script(src='js/angular.min-1.5.10.js')
        script(src='js/bootstrap.min.js')
        script(src='js/ptl_illicit_1.js')
