doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/angular-ui-grid/ui-grid.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-lg-12
                    include include/header.jade
        .container-fluid
            .row
                .col-lg-2.sidebar
                    br
                    include include/mkt-sidebar.jade
                .col-lg-10.contaner
                    .row
                        .col-lg-12
                            br
                            form.form-inline.wbSearch(style="text-align:center;")
                                .input-group
                                    span.input-group-addon SPR状态码
                                    input.form-control(type="text",placeholder="请输入",style="width: 500px;")
                                    span.input-group-btn
                                        button.btn.btn-default(type="button") 搜索
                            br
                        .col-lg-12
                            div.wbUiGrid(ng-controller="MainCtrl")
                                div.grid(ui-grid="gridOptions" ui-grid-pagination)
                            br
        script(src='js/jquery.min.js')
        script(src='js/angular.min-1.5.10.js')
        script(src='js/bootstrap.min.js')
        script(src='js/ui-grid.min.js')
        script(src='js/ptl_spr_1.js')