doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/angular-ui-grid/ui-grid.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-lg-12
                    include include/header.jade
        .container-fluid
            .row
                .col-lg-2.sidebar
                    include include/mkt-sidebar.jade
                .col-lg-10.contaner
                    .row
                        .col-lg-12.form-search-parent
                            include include/form-search.jade
                    .row
                        .col-lg-12
                            div.wbTable(ng-controller="customersCtrl")
                                table.table.table-bordered
                                    thead
                                        tr
                                            th(ng-repeat="item in ths") {{item}}
                                    tbody
                                        tr(ng-repeat="item in tds")
                                            td {{test + item.openid}}
                                            td {{item.obj}}
                                            td {{item.score}}
                                            td {{item.act_time}}
                                            td {{item.sprtype}}
                                            td {{item.sprregion}}
                                            td {{item.sprcity}}
                                            td {{item.sprname}}
                                            td {{item.ptlname}}
                                            td {{item.ptl}}
                                button.btn.btn-default.btn-prev(type="button") 上一页
                                button.btn.btn-default.btn-next(type="button") 下一页
        script(src='js/jquery.min.js')
        script(src='js/angular.min-1.5.10.js')
        script(src='js/bootstrap.min.js')
        script(src='js/ui-grid.min.js')
        script(src='js/ptl_index.js')
