<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>兑奖记录</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-lg-12">
          <h1><a href="all.html">user name</a></h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 sidebar">
          <div class="list-group"><a class="list-group-item active" href="javascript:;">可疑稽查</a><a class="list-group-item" href="mkt_illicit_1.html">累计可疑OpenId</a><a class="list-group-item" href="mkt_illicit_2.html">待处理可疑OpenId</a></div>
          <div class="list-group"><a class="list-group-item active" href="javascript:;">SPR管理</a><a class="list-group-item" href="mkt_spr_1.html">SPR状态查询</a><a class="list-group-item" href="mkt_spr_edit.html">SPR修改</a></div>
          <div class="list-group"><a class="list-group-item active" href="javascript:;">礼物管理</a><a class="list-group-item" href="mkt_gift_records.html">兑奖记录</a><a class="list-group-item" href="mkt_gift_inventory.html">库存情况</a></div>
        </div>
        <div class="col-lg-10 contaner">
          <h3 class="page-header">兑奖记录</h3>
          <div class="wbTable" ng-controller="customersCtrl">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th ng-repeat="item in ths">{{item}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in tds">
                  <td>{{item.id}}</td>
                  <td>{{item.openid}}</td>
                  <td>{{item.obj}}</td>
                  <td>{{item.act_time}}</td>
                  <td class="tdPackage">{{item.package}}</td>
                  <td><a class="btn btn-info btn-sm" target="_blank" href="openidInfo.html?openid={{item.openid}}">查看</a>
                    <button class="btn btn-success btn-sm" ng-click="confirmChange($event)">确认</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginationer">
              <label class="pull-left"><b class="lab-index">1</b>/<b class="lab-total">1</b></label>
              <div class="pull-right">
                <button class="btn btn-default btn-prev">上一页</button>
                <button class="btn btn-default btn-next">下一页</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min-1.5.10.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/mkt_gift_records.js"></script>
  </body>
</html>