include include/mixin.jade
doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title OpenId查询
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-lg-12
                    include include/header.jade
        .container-fluid
            .row
                .col-lg-12.contaner
                    h3.page-header OpenId详情查询
                    form.form-inline.wbSearch
                        .input-group
                            span.input-group-addon OpenId
                            input.form-control(type="text",placeholder="请输入",value="o7k0At5xSIdXErec82WB3VJ3P7Rc")
                            span.input-group-btn
                                button.btn.btn-default.btn-search(type="button") 搜索
                    .wbTable(ng-controller="customersCtrl")
                        table.table.table-bordered
                            thead
                                tr
                                    th(ng-repeat="item in ths") {{item}}
                            tbody
                                tr(ng-repeat="item in tds")
                                    td {{item.openid}}
                                    td {{item.name}}
                                    td {{item.tel}}
                                    td {{item.addr}}
        +includeScriptFiles("js/openidInfo.js")