<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>待确认可疑OpenId</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-lg-12">
          <h1><a href="all.html">user name</a></h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 sidebar">
          <div class="list-group"><a class="list-group-item active" href="javascript:;">首页</a><a class="list-group-item" href="ptl_index.html">积分记录查询</a></div>
          <div class="list-group"><a class="list-group-item active" href="javascript:;">可疑稽查</a><a class="list-group-item" href="ptl_illicit_1.html">累计可疑OpenId</a><a class="list-group-item" href="ptl_illicit_2.html">待确认可疑OpenId</a></div>
          <div class="list-group"><a class="list-group-item active" href="javascript:;">SPR管理</a><a class="list-group-item" href="ptl_spr_1.html">SPR状态查询</a></div>
        </div>
        <div class="col-lg-10 contaner">
          <h3 class="page-header">待确认可疑OpenId</h3>
          <div class="wbTable" ng-controller="customersCtrl">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th ng-repeat="item in ths">{{item}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in tds">
                  <td>{{item.openid}}</td>
                  <td>
                    <button class="btn btn-info btn-sm">查看</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginationer">
              <label class="pull-left"><b class="lab-index">1</b>/<b class="lab-total">1</b></label>
              <div class="pull-right">
                <button class="btn btn-default btn-prev">上一页</button>
                <button class="btn btn-default btn-next">下一页</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min-1.5.10.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ptl_illicit_2.js"></script>
  </body>
</html>