include include/mixin.jade
doctype html
html(lang='zh-cn',ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 累计可疑OpenId
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href="css/global.css",rel="stylesheet")
    body
        .container-fluid.header
            .row
                .col-sm-12
                    include include/header.jade
        .container-fluid
            .row
                .col-sm-2.sidebar
                    include include/ptl-sidebar.jade
                .col-sm-10.contaner
                    .row
                        .col-sm-12
                            h3.page-header 累计可疑OpenId
                            include include/illicit_1_form-search.jade
                            .wbTable(ng-controller="customersCtrl")
                                include include/ptl_illicit_1-table.jade
                                include include/pagination.jade
        +includeScriptFiles("js/ptl_illicit_1.js")