<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPR查询</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-sm-12">
          <p>你好，<a id="userName" href="all.html"></a><a class="pull-right" href="javascript:common.loginOut();">退出</a></p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar" ng-controller="ctrlSidebar">
          <div class="section" ng-if="user.type==userType.mkt">
            <div class="list-group"><a class="list-group-item active" href="javascript:;">可疑稽查</a><a class="list-group-item" href="illicit-list.html">累计可疑OpenId</a><a class="list-group-item" href="illicit-handle.html">已取消积分OpenId</a></div>
            <div class="list-group"><a class="list-group-item active" href="javascript:;">SPR管理</a><a class="list-group-item" href="spr-handle.html">SPR状态查询</a></div>
            <div class="list-group"><a class="list-group-item active" href="javascript:;">礼物管理</a><a class="list-group-item" href="gift-records.html">兑奖记录</a><a class="list-group-item" href="gift-inventory.html">库存情况</a></div>
          </div>
          <div class="section" ng-if="user.type==userType.courier">
            <div class="list-group"><a class="list-group-item active" href="javascript:;">礼物管理</a><a class="list-group-item" href="gift-records.html">兑奖记录</a><a class="list-group-item" href="gift-inventory.html">库存情况</a></div>
          </div>
          <div class="section" ng-if="user.type==userType.ptl">
            <div class="list-group"><a class="list-group-item active" href="javascript:;">可疑稽查</a><a class="list-group-item" href="illicit-list.html">累计可疑OpenId</a><a class="list-group-item" href="illicit-handle.html">已取消积分OpenId</a></div>
            <div class="list-group"><a class="list-group-item active" href="javascript:;">SPR管理</a><a class="list-group-item" href="spr-handle.html">SPR状态查询</a></div>
          </div>
        </div>
        <div class="col-sm-10 contaner">
          <div class="row">
            <div class="col-sm-12" ng-controller="customersCtrl2">
              <h3 class="page-header">SPR查询</h3>
              <div class="wbSearch form-inline">
                <div class="input-group"><span class="input-group-addon">SPR状态码</span>
                  <input class="form-control" type="text" placeholder="请输入" value="" ng-model="txtSpr"><span class="input-group-btn">
                    <button class="btn btn-default btn-search" ng-click="getSprInfo()">搜索</button></span>
                </div>
              </div>
              <div class="wbTable">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>促销员id</th>
                      <th>验证码</th>
                      <th>大区</th>
                      <th>城市</th>
                      <th>城市等级</th>
                      <th>促销员名称</th>
                      <th>渠道</th>
                      <th>PTL</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in tds">
                      <td>{{item.id}}</td>
                      <td>{{item.code}}</td>
                      <td>{{item.region}}</td>
                      <td>{{item.city}}</td>
                      <td>{{item.citytype}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.ptl}}</td>
                      <td>{{item.isover=="1"?"在职":"离职"}}</td>
                      <td><a class="btn btn-sm btn-primary" target="_blank" href="spr-edit.html?code={{item.code}}">修改</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-12" ng-controller="customersCtrl">
              <h3 class="page-header" ng-if="user.type==userType.ptl">名下所有SPR</h3>
              <div class="wbAllSpr" ng-controller="customersCtrl" ng-if="user.type==userType.ptl">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>促销员id</th>
                      <th>验证码</th>
                      <th>大区</th>
                      <th>城市</th>
                      <th>城市等级</th>
                      <th>促销员名称</th>
                      <th>渠道</th>
                      <th>PTL</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in tds">
                      <td>{{item.id}}</td>
                      <td>{{item.code}}</td>
                      <td>{{item.region}}</td>
                      <td>{{item.city}}</td>
                      <td>{{item.citytype}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.ptl}}</td>
                      <td>{{item.isover=="1"?"在职":"离职"}}</td>
                      <td><a class="btn btn-sm btn-primary" target="_blank" href="spr-edit.html?code={{item.code}}">修改</a></td>
                    </tr>
                  </tbody>
                </table>
                <div class="paginationer">
                  <label class="pull-left"><b class="lab-index">{{pagination.page}}</b>/<b class="lab-total">{{pagination.total}}</b></label>
                  <div class="pull-right">
                    <button class="btn btn-default btn-prev" ng-click="pagination.getPrevPage()">上一页</button>
                    <button class="btn btn-default btn-next" ng-click="pagination.getNextPage()">下一页</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/spr-handle.js"></script>
  </body>
</html>