<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SPR查询</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-sm-12">
          <p>你好，<a id="userName" href="all.html"></a><a class="pull-right" href="javascript:common.loginOut();">退出</a></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 contaner">
          <h3 class="page-header">SPR修改</h3>
          <div class="form-horizontal" ng-controller="ngCtrl">
            <div class="form-group">
              <div class="col-sm-11">
                <div class="input-group">
                  <div class="input-group-addon">spr验证码</div>
                  <input class="form-control" id="code" type="text" placeholder="spr验证码" value="" ng-model="txtCode">
                </div>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-primary btn-getInfo" ng-click="f_getInfo()">查询</button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 control-label" for="name">spr名字</label>
              <div class="col-sm-11">
                <input class="form-control" id="name" type="text" placeholder="spr名字" ng-model="txtName">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 control-label" for="region">大区</label>
              <div class="col-sm-11">
                <input class="form-control" id="region" type="text" placeholder="大区" ng-model="txtRegion">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 control-label" for="city">城市</label>
              <div class="col-sm-11">
                <input class="form-control" id="city" type="text" placeholder="城市" ng-model="txtCity">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 control-label" for="qtype">店铺类型</label>
              <div class="col-sm-11">
                <input class="form-control" id="qtype" type="text" placeholder="店铺类型" ng-model="txtQtype">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 control-label" for="">离职</label>
              <div class="col-sm-11">
                <label class="radio-inline">
                  <input type="radio" name="isover" value="0" ng-model="radIsover"> 是
                </label>
                <label class="radio-inline">
                  <input type="radio" name="isover" value="1" ng-model="radIsover"> 否
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-11">
                <button class="btn btn-primary btn-submit" ng-click="f_submit()">提交</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/sprEdit.js"></script>
  </body>
</html>