form.form-inline.form-search(role="form")
    .input-group
        .input-group-btn
            select.form-control
                option(value="spr") SPR验证码积分记录
                option(value="openid") OpenId积分记录
        input.form-control(type="text",placeholder="请输入",value="862094")
        span.input-group-btn
            button.btn.btn-default(type="button") 搜索