form.form-inline(role="form")
    .input-group
        .input-group-btn
            select.form-control
                option 内容1
                option 内容2
        input.form-control(type="text",placeholder="请输入")
        span.input-group-btn
            button.btn.btn-default(type="button") 搜索