form.form-horizontal.form-search(role="form")
    .form-group
        label.col-sm-1.control-label 可疑天数
        .col-sm-10
            select.form-control
                - for(var i=0;i<6;i++)
                    option(value="\#{i}") #{i+1}以上
        .col-sm-1
            button.btn.btn-default 搜索