.form-horizontal.form-search
    .form-group
        label.col-sm-1.control-label
            | 可疑天数
            span (当前标准为3天以上)
        .col-sm-10
            select.form-control
                - for(var i=2;i<6;i++)
                    option(value=i+1) #{i+1}以上
        .col-sm-1
            button.btn.btn-default 搜索