.list-group
    a.list-group-item.active(href="mkt_index.html") 首页
.list-group
    a.list-group-item.active(href="javascript:;") 可疑稽查
    a.list-group-item(href="mkt_illicit_1.html") 7天内可疑OpenId
    a.list-group-item(href="mkt_illicit_2.html") 待处理可疑OpenId
.list-group
    a.list-group-item.active(href="javascript:;") SPR管理
    a.list-group-item(href="mkt_spr_1.html") SPR状态查询
    a.list-group-item(href="mkt_spr_2.html") 待处理SPR
.list-group
    a.list-group-item.active(href="javascript:;") 礼物管理
    a.list-group-item(href="mkt_gift_1.html") 兑奖记录
    a.list-group-item(href="mkt_gift_2.html") 库存情况


