.list-group
    a.list-group-item.active(href="javascript:;") 可疑稽查
    a.list-group-item(href="mkt_illicit_1.html") 累计可疑OpenId
    a.list-group-item(href="mkt_illicit_2.html") 待处理可疑OpenId
.list-group
    a.list-group-item.active(href="javascript:;") SPR管理
    a.list-group-item(href="mkt_spr.html") SPR状态查询
.list-group
    a.list-group-item.active(href="javascript:;") 礼物管理
    a.list-group-item(href="mkt_gift_records.html") 兑奖记录
    a.list-group-item(target="_blank",href="giftInventory.html") 库存情况


