.list-group
    a.list-group-item.active(href="ptl_index.html") 首页
.list-group
    a.list-group-item.active(href="javascript:;") 可疑稽查
    a.list-group-item(href="ptl_illicit_1.html") 7天内可疑OpenId
    a.list-group-item(href="ptl_illicit_2.html") 待确认可疑OpenId
.list-group
    a.list-group-item.active(href="javascript:;") SPR管理
    a.list-group-item(href="ptl_spr_1.html") SPR状态查询
    a.list-group-item(href="ptl_spr_2.html") 名下促销员



