
<table class="table table-bordered">
  <thead>
    <tr>
      <th ng-repeat="item in ths">{{item}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in tds">
      <td>
        <label>
          <input type="checkbox"/>
        </label>
      </td>
      <td>{{item.openid}}</td>
      <td>{{item.name}}</td>
      <td>{{item.main_warn}}</td>
      <td><a class="btn btn-info btn-sm" target="_blank" href="ptl_index.html?openid={{item.openid}}">查看</a>
        <button class="btn btn-danger btn-sm" ng-click="setOpenidForIllicit($event,item.openid)">列入可疑</button>
      </td>
    </tr>
  </tbody>
</table>