table.table.table-bordered
    thead
        tr
            th(ng-repeat="item in ths") {{item}}
    tbody
        tr(ng-repeat="item in tds")
            td {{item.openid}}
            td {{item.obj}}
            td {{item.id}}
            td {{item.act_time}}
            td {{item.sprtype}}
            td {{item.sprregion}}
            td {{item.sprcity}}
            td {{item.sprname}}
