table.table.table-bordered
    thead
        tr
            th(ng-repeat="item in ths") {{item}}
    tbody
        tr(ng-repeat="item in tds")
            td
                input(type="checkbox",ng-model="checkeds[$index]",ng-change="setOpenidForChecked($index,item.openid)")
            td {{item.openid}}
            td {{item.lastspr}}
            td {{item.score_times}}
            td
                a.btn.btn-info.btn-sm(target="_blank",href="integralInfo.html?openid={{item.openid}}") 查看
                button.btn.btn-danger.btn-sm(ng-click="setOpenidForIllicit($event,item.openid)") 取消积分