form.form-inline.wbSearch
    .input-group
        span.input-group-addon SPR状态码
        input.form-control(type="text",placeholder="请输入",value="862094")
        span.input-group-btn
            button.btn.btn-default.btn-search(type="button") 搜索