.nav.nav-pills.nav-stacked(role="tablist")
    li.active(role="presentation")
        a(href="#") 可疑稽查
    li(role="presentation")
        a(href="#") SPR管理
    li(role="presentation")
        a(href="#") 礼品管理