table.table.table-data
    thead
        tr
            th
                | #
            th
                | Product
            th
                | Payment Taken
            th
                | Status
    tbody
        tr
            td
                | 1
            td
                | TB - Monthly
            td
                | 01/04/2012
            td
                | Default
        tr.active
            td
                | 1
            td
                | TB - Monthly
            td
                | 01/04/2012
            td
                | Approved
        tr.success
            td
                | 2
            td
                | TB - Monthly
            td
                | 02/04/2012
            td
                | Declined
        tr.warning
            td
                | 3
            td
                | TB - Monthly
            td
                | 03/04/2012
            td
                | Pending
        tr.danger
            td
                | 4
            td
                | TB - Monthly
            td
                | 04/04/2012
            td
                | Call in to confirm
