table.table.table-data
    thead
        tr
            th
                | #
            th
                | openid
            th
                | 产品名称
            th
                | 产品积分
            th
                | 积分时间
            th
                | 渠道分类
            th
                | 大区
            th
                | 城市
            th
                | 促销员id
            th
                | 促销员
            th
                | PLT
    tbody
        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据

        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据

        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
        tr
            td
                | 1
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据
            td
                | 数据



